<header>
    <h1>Home Page</h1>
    <nav>
        <ul>
            <li>
                <a href="/usuarios">Ver usuarios</a>
            </li>
        </ul>
    </nav>

    <nav>
        <ul>
            <li>
                <a href="/admin/create">Registrarse</a>
            </li>
        </ul>
    </nav>
</header>